<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div>
	        	<h1>Preguntas</h1>
	            <% @questions.each do |question| %>
	            	<span><%= question.title =%></span>
	            	<span><%= question.body  =%></span>
	                
	            <% end %>
            </div>
        </div> 
    </div> <!-- .row-->
</div> <!-- .container -->
