#questions{
	float:left;
}

#btn-questions{
	float:right;
	padding: 70px 0 0 0px;
}

#body-questions{
	color: #D75C3B;
	padding-top: 16px;
}

span {
    display: block; 
    color: #A09FA1
}

.comment{
	padding-left: 30px;
	padding-bottom: 10px;
}